// Global changes
html, body {
	height: 100%;
	width: 100%;
}

// Layout
.sky {
	height: 75%;
}

.ground {
	height: 25%;
	max-height: 25%;
	overflow: hidden;
}

.runway {
	margin-top: 2%;
}

.runway-medium img {
	width: 150px;
}

.runway-small img {
	width: 100px;
}

.plane {
	z-index: 10;
}

.game-over {
	text-align: center;
	padding: 20px;
	width: 20em;
	margin: 0 auto;
	position: relative;
	top: 25%;
}

//  Modules
.bg-peter-rivers {
	background: #3498db;
}

.bg-nephritis {
	background: #27ae60;
}

.bg-clouds {
	background: #ecf0f1;
}

.icon-small {
	font-size: 1em;
}

.icon-medium {
	font-size: 2em;
}

.icon-large {
	font-size: 3em;
}

.selected {
	border: 1px solid #fff;
}

.hidden {
	display: none;
}

// Themes
.plane {
	cursor: pointer;
}

.fuel-half-left {
	color: yellow;
}

.fuel-quarter-left {
	color: red;
}

// Events