extend layout

block title
	title Video Submissions

block content
	.container
		header
			h1 Video Contest
			h3 Submitted Videos

		.col-md-4
			iframe(width="560", height="315", src='"' + data.videoAddress + '"', frameborder="0", allowfullscreen)