extends layout

block title
	title Submit a Video!

block content
	.container
		header
			h1 Video Contest

		.row
			a(href='/currentSubmissions') Current Submissions

		.row
			.col-md-3
				h3 Submit a Video

		.row
			form(role='form', action='/submitVideo', method='post')
				.form-group
					input(type='text', placeholder='Your Name', name='videoSubmitterName').form-control
				.form-group
					input(type='text', placeholder='URL', name='videoAddress').form-control
				.form-group
					input(type='text', placeholder='Video Title', name='videoTitle').form-control
				.form-group
					textarea(rows='5', name='videoDescription', placeholder='Video Description...').form-control
				.form-group
					input(type='submit').btn.btn-default